reated by https://www.gitignore.io/api/osx,vim,ruby,rails

### OSX ###
*.DS_Store

### Vim ###
Nerd_tree_*

### React-App ###
/react-redux-apollo-boilerplate/

### Rails API ###
/rails-graphql-api-boilerplate/
